<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowSafe - Olvidaste tu contraseña</title>
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins&display=swap'>
    <link rel="stylesheet" href="../static/forgot_password.css">
</head>
<body>
    <div class="wrapper">
        <div class="login_box">
            <div class="login-header">
                <span>Olvidaste tu contraseña</span>
            </div>

            <form action="/olvidaste_contrasena" method="post" autocomplete="off">
                <div class="input_box">
                    <input type="email" id="email" class="input-field" required>
                    <label for="email" class="label">Correo Electrónico</label>
                    <i class="bx bx-envelope icon"></i>
                </div>

                <div class="input_box">
                    <input type="submit" class="input-submit" value="Enviar">
                </div>
            </form>

            <div class="register">
                <span>¿Recordaste tu contraseña? <a href="iniciar_sesion">Inicia Sesión</a></span>
            </div>
        </div>
    </div>
</body>
</html>
