<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Cuenta - GrowSafe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <style>
        .content p {
            font-size: 3rem;
            font-weight: bold;
            text-align: center;
            margin-top: 2rem;
        }
    </style>
</head>
<body>
    <header>
        <a href="/" class="logo">
            <span>GROW</span>safe
        </a>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar" class="fa fa-bars"></label>
        <nav class="navbar">
            <a href="index.html">Inicio</a>
            <a href="analizar.html">Analizar</a>
            <a href="resultados.html">Resultados</a>
            <a href="guia.html">Guía</a>
            <a href="contacto.html">Contacto</a>
            <a href="mi_cuenta.html">Mi Cuenta</a>
            <a href="analizar_suelo.html">Analisis del suelo</a>
        </nav>
    </header>

    <section class="mi_cuenta" id="mi_cuenta">
        <div class="content">
            <h3>Mi Cuenta</h3>
            <p>Próximamente</p>
        </div>
    </section>
</body>
</html>
